@model WebInterfaceGame.Models.ViewModel

@{
    ViewBag.Title = "Enemy";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Asteroid Belt</title>
    <link rel="stylesheet" href="~/Content/Menu_style.css">
    <link rel="stylesheet" href="~/Content/Game_style.css">
    <link rel="stylesheet" href="~/Content/Buttons_style.css">
    <link rel="stylesheet" href="~/Content/Enemy_style.css">   
    <link href="https://fonts.googleapis.com/css?family=Allerta" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <!--            <div class="logo">-->
                <!--                <a href="#"> <img src="Images/boss.png" alt="Unknown logo image"></a>-->
                <!--            </div>-->
                <div class="header_info">
                    <h1>Enemy</h1>
                </div>
            </nav>
        </div>
        <div class="content">
            <div class="side">
                <ul class="menu">
                    <li><a href="@Url.Action("Briefing")"><div class="img_n"><img src="~/Content/Images/briefing.png"></div><span>Briefing</span></a></li>
                    <li class="menu__list">
                        <a href="@Url.Action("Lore")"><div class="img_n"><img src="~/Content/Images/lore.png"></div><span>Lore</span></a>
                    </li>
                    <li><a href="@Url.Action("Scoreboard")"><div class="img_n"><img src="~/Content/Images/Scoreboard.png"></div><span>Scoreboard</span></a></li>
                    <li><a href="@Url.Action("Rules")"><div class="img_n"><img src="~/Content/Images/rules.png"></div><span>Rules</span></a></li>
                    <li class="menu__list">
                        <a href="#"><div class="img_n"><img src="~/Content/Images/mail.png"></div><span>Email us</span></a>
                        <ul class="menu__drop">
                            <li><a target="_blank" href="mailto:vladislaw.vlad2@gmail.com?subject=Feedback about game"><div class="img_n_social"><img src="~/Content/Images/gmail.png" alt="gmail"></div></a></li>
                            <li><a target="_blank" href="tg://resolve?domain=Vinchickk"><div class="img_n_social"><img src="~/Content/Images/telegram.png" alt="telegram"></div></a></li>
                            <li><a target="_blank" href="https://instagram.com/forgotten_for_everyone/"><div class="img_n_social"><img src="~/Content/Images/instagram.png" alt="instagram"></div></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="content_info">
                <div class="content_container">
                    <div class="enemies">
                        @if (Model == null)
                        {
                        <div>
                            <p>Sorry, something going wrong.</p>
                            <div class="btn enemy_button">
                                <form action="@Url.Action("Briefing")"><button><h2>Back</h2></button></form>
                            </div>
                        </div>
                        }
                        else
                        {
                            <h1>@Model.Name</h1>
                            <div class="enemy">
                                @{
                                    string imageName = Model.Name + ".png";
                                    string path = "~/Content/Images/" + imageName;
                                }
                                <div class="enemy_image"><img src=@Url.Content(path) alt="enemy name"></div>
                            </div>
                            <div class="enemy_info p_margin">
                                <h2>General description</h2>
                                <p>@Model.LoreDescribe</p>
                                <h2>Characteristics</h2>
                                <ul>
                                    <li><p>Power - @Model.Power</p></li>
                                    <li><p>Damage - @Model.Damage</p></li>
                                </ul>
                                <h2>Features</h2>
                                <p>@Model.Features</p>
                            </div>
                            <div class="btn enemy_button">
                                @if (Model.Id > 1)
                                {<form action="@Url.Action("Enemy", new { Id = Model.Id - 1 })"><button><h2>Previous</h2></button></form>}
                                @if (Model.Id < WebInterfaceGame.Models.ViewModel.Count)
                                {<form action="@Url.Action("Enemy", new { Id = Model.Id + 1 })"><button><h2>Next</h2></button></form>}
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <p> All right reserved by&nbsp;&copy;ffe 2021</p>
        </div>
    </div>
</body>
</html>
